# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Nicolai\Desktop\Datamatiker\3.Semester\Intellij\sprint_exercise\.idea/dataSources/
/dataSources.local.xml
/dataSources/
# Editor-based HTTP Client requests
/httpRequests/
